Package: sgx-lib-data
Source: sgx-lib
Version: 1.9.0.7.1-1glp2
Architecture: all
Maintainer: TI OMAP Developers <tiomap-dev@lists.launchpad.net>
Installed-Size: 41
Suggests: sgx-lib
Conflicts: pvr-omap4-data
Replaces: pvr-omap4-data
Section: graphics
Priority: optional
Homepage: https://gforge01.dal.design.ti.com/gf/project/gfx_l24_ddk2/
Description: SGX540 libraries for OMAP4, data files
 SGX540 (PowerVR) Linux libraries for OMAP4.
 .
 This comprises libraries for OpenGL ES 1.1, 2.0
 and test applications.
 .
 This package contains the data files.
