#!/usr/bin/make -f
MESA_VERS := $(shell apt-cache show --no-all-versions libegl1-mesa | \
               grep '^Version:' | sed 's/.*: //')
SUBSTVARS := -Vlibegl1-mesa:Version="$(MESA_VERS)" -Vlibgles2-mesa:Version="$(MESA_VERS)"

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)
