#!/usr/bin/make -f
MESA_VERS := $(shell apt-cache show --no-all-versions libegl1-mesa | grep '^Version:' | sed 's/.*: //')
GLVN_VERS := $(shell apt-cache show --no-all-versions libglvnd0    | grep '^Version:' | sed 's/.*: //')

SUBSTVARS := -Vlibegl1-mesa:Version="$(MESA_VERS)"
SUBSTVARS += -Vlibgles2-mesa:Version="$(MESA_VERS)"
SUBSTVARS += -Vlibglvnd0:Version="$(GLVN_VERS)"

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)

override_dh_installinit:
	dh_installinit --no-start
