Package: sgx-lib-dbgsym
Source: sgx-lib
Version: 1.9.0.7.1-1glp2
Depends: sgx-lib (= 1.9.0.7.1-1glp2)
Architecture: armhf
Maintainer: TI OMAP Developers <tiomap-dev@lists.launchpad.net>
Installed-Size: 9162
Section: graphics
Priority: extra
Homepage: https://gforge01.dal.design.ti.com/gf/project/gfx_l24_ddk2/
Description: debug symbols for package sgx-lib
 SGX540 (PowerVR) Linux libraries for OMAP4.
 .
 This comprises libraries for OpenGL ES 1.1, 2.0
 and test applications.
